<h3>Week: <%= @week.week %></h3>

<h4>days:</h4>

<ul>
  <% @week.days.each do |day| %>
    <li>
      <%= day.week_day %> - <%= day.start %> - <%= day.end %>
    </li>
  <% end %>
</ul>

<%= link_to "View all business weeks", weeks_path %>