<!DOCTYPE html>
<html>
  <head>
    <title>Kolau</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "Business weeks", weeks_path %>
        <%= link_to "Add New Week", new_week_path %>
      </nav>
    </header>
    <div class="alerts">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
